---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = await getCollection("blog");

// Sort the posts by pubDate in descending order
const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB.getTime() - dateA.getTime();
});

// Get the three most recent posts
const recentPosts = sortedPosts.slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      /* Existing styles */
      .intro-container,
      .guitar-container {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .intro-container img,
      .guitar-container img {
        width: 200px;
      }

      /* Blog Cards Container */
      .blog-cards-container {
        display: flex;
        gap: 24px;
        justify-content: center;
        padding: 16px 0; /* Added padding */
      }

      .latest-blog {
        display: flex;
        flex-direction: column;
        width: calc(33.33% - 16px);
        border-radius: 8px;
        overflow: hidden;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        height: 300px;
        position: relative;
      }

      .latest-blog .hero-image {
        flex-grow: 1;
        display: flex;
        align-items: flex-end; /* Align image to the bottom */
        transition: transform 0.3s ease-in-out;
      }

      .latest-blog .hero-image:hover {
        transform: scale(1.05); /* Adjust scale value as needed */
      }

      .title-link {
        color: inherit; /* Ensure the color matches your existing text color */
        text-decoration: none; /* Remove underline from the link */
      }

      .title-link:hover {
        color: rgb(var(--accent-dark)); /* Change color on hover */
      }

      .latest-blog .blog-details h4 {
        font-size: 1.1rem;
        margin-bottom: 8px;
        font-weight: 600;
        text-decoration: none;
      }

      .latest-blog .blog-details .date {
        font-size: 0.8rem;
        margin-top: 3px;
        margin-bottom: 16px;
      }

      .read-more {
        font-size: 0.9rem;
        color: ##37505c;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        bottom: 16px; /* Adjust the distance from the bottom */
        right: 25px; /* Adjust the distance from the right */
      }

      .read-more::after {
        content: "\2192"; /* Unicode right arrow */
        position: absolute;
        right: -1.2em;
        transition: 0.3s ease;
        margin-left: 15px; /* Add some space between the text and the arrow */
      }

      .read-more:hover::after {
        right: -1em; /* Adjust the distance for hover animation */
      }

      /* Add this at the end of your style tag to target smaller screens */
      @media (max-width: 768px) {
        .intro-container,
        .guitar-container {
          flex-direction: column;
          text-align: center;
        }

        .intro-container img,
        .guitar-container img {
          width: 100%;
          max-width: 200px;
          margin: 0 auto; /* Center images */
        }

        .blog-cards-container {
          flex-direction: column;
        }

        .latest-blog {
          width: 100%; /* Make blog cards take full width on small screens */
          max-width: 350px; /* Limit maximum width */
          margin: 0 auto; /* Center blog cards */
        }

        /* Adjust heading and paragraph font sizes if needed */
        h1,
        h2,
        h4 {
          font-size: 1rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="intro-container">
        <img src="bmbrun.jpg" alt="run" />
        <h1>👋 Hello, I'm Ben!</h1>
      </div>
      <p>
        💻 I’m passionate about leveraging technology to solve problems. This
        space reflects my learning journey, showcasing insights, projects, and
        evolving skills.
      </p>
      <p>
        🏃‍♂️ I enjoy running—it's a great way for me to grow and learn about
        myself. If you're interested in my running journey, you can follow me on

        <a href="https://www.strava.com/athletes/70063288" target="_blank"
          >Strava</a
        >, read this <a
          href="https://benbrannen.com/blog/100dayjouney/"
          target="_blank">blog post on how I ran 100 days in a row</a
        >, or explore this automated <a
          href="https://lookerstudio.google.com/u/0/reporting/29998d2b-7d6e-4f42-b4e7-cfa489bff4a9/page/p_24y1t5ln9c"
          target="_blank">Looker Studio Dashboard</a
        > I built that pulls all of my activites.
      </p>

      <p>
        👨🏻‍🚀 Whether you're here to explore my tech projects, gain insights from
        my experiences, or simply to say hi, you’ve landed in the right place! I
        built this website with <a href="https://astro.build/" target="blank"
          >Astro</a
        > JS to share my adventures in a seamless way. Feel free to explore and
        reach out!
      </p>
      <div class="guitar-container">
        <p>
          🎸 Beyond the world of technology & running, I am a self taught guitar
          player who loves the Allman Brothers, Grateful Dead, Phish, Goose, and
          Tony Rice. Check out what I've been listening to recently on <a
            href="https://open.spotify.com/user/1215639802?si=22891895b3614d0a"
            target="blank">Spotify</a
          >.
        </p>
        <img src="guitar.jpg" alt="guitar" />
      </div>

      <!-- Display the Latest Three Blog Posts -->
      <section class="recent-blogs">
        <h2>Recent Blogs</h2>
        <p>Check out my most recent blogs!</p>
        <div class="blog-cards-container">
          {
            recentPosts.map((post) => (
              <div class="latest-blog">
                <a href={`/blog/${post.slug}`}>
                  <div class="hero-image">
                    {post.data.heroImage && (
                      <img
                        src={post.data.heroImage}
                        alt={post.data.title}
                        loading="lazy"
                      />
                    )}
                  </div>
                </a>
                <div class="blog-details">
                  <div class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </div>
                  <h4>
                    <a href={`/blog/${post.slug}`} class="title-link">
                      {post.data.title}
                    </a>
                  </h4>
                  <a href={`/blog/${post.slug}`} class="read-more">
                    Read More
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
